
@{
    ViewBag.Title = "About";
}


<!-- Sayfa Başlığı -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase"> Hakkımızda </h1>
        <div class="d-inline-flex mb-lg-5">
            <p class="m-0 text-white"><a class="text-white" href="~/Home/Index">Anasayfa</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Hakkımızda</p>
        </div>
    </div>
</div>


<!-- Hakkımızda -->

<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Hakkımızda</h4>
            <h1 class="display-4">2022'den beri hizmetinizdeyiz.</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 py-0 py-lg-5">
                <h1 class="mb-3">Hikayemiz</h1>
                <h5 class="mb-3"> "Her Bir Fincan, Bir Serüvene Davet Ediyor!"</h5>
                <p>
                    Hoş Geldiniz! Yeni kahveci sitemizde en kaliteli kahve çekirdeklerini bulabilirsiniz. Siparişlerinizi kolayca vererek taze ve lezzetli kahveleri kapınıza getiriyoruz. Müşteri memnuniyeti bizim için önemlidir ve hızlı kargo hizmeti sunmaktayız. Ayrıca, kahve demleme ekipmanları ve özel tasarım fincanlar gibi ürünlerimizle kahve deneyiminizi tamamlayabilirsiniz. Kahve tutkusunu evinize getirmek için bizi tercih edin.
                </p>
     
            </div>
            <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/Content/img/about.png" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4 py-0 py-lg-5">
                <h1 class="mb-3">Vizyonumuz</h1>
                <p>
                    Müşterilerimize en kaliteli kahve deneyimini sunarak, kahve tutkusunu yaymak ve her anınıza keyif katmak.
                </p>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Taze hazırlanan kahveler.</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Sıcak bir ortam.</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Çeşitli menülerimiz.</h5>
           
            </div>
        </div>
    </div>
</div>

